# Gradle
/.gradle/
/build/

# JVM crash logs
hs_err_pid*.log
replay_pid*.log

# IntelliJ IDEA
/.idea/
*.iml
/out/

# Eclipse
/.project
/.classpath
/.settings/
/bin/

# Visual Studio Code
/.vscode/

# Development client
/run/

# Python
__pycache__/
